In [1]:
import pandas as pd
import os

In [2]:
csv_file = "../files/calcite_stmts.tsv"  
df = pd.read_csv(csv_file, sep="\t")

In [3]:
df.head()

,stmt_app_name,stmt_id,stmt_raw_sql,stmt_calcite_sql,improve_calcite,improve_wetune,stmt_trace
0,calcite_test,1,SELECT '12:34:56' FROM EMP AS EMP,NaN,NaN,NaN,NaN
1,calcite_test,2,SELECT '12:34:56' FROM EMP AS EMP0,NaN,NaN,NaN,NaN
2,calcite_test,3,SELECT * FROM (SELECT * FROM EMP AS EMP WHERE ...,"SELECT EMPNO, ENAME, JOB, MGR, SAL, COMM, DEPT...",-0.407622,NaN,NaN
3,calcite_test,4,"SELECT t10.EMPNO, t10.ENAME, t10.JOB, t10.MGR,...","SELECT EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, ...",0.055436,NaN,NaN
4,calcite_test,5,SELECT t0.EXPR$0 + t0.EXPR$1 + t0.EXPR$0 FROM ...,"SELECT T0.X + T0.Y + T0.X FROM (VALUES (10, 1)...",NaN,NaN,NaN

In [4]:
len(df)

464

In [5]:
# check duplicates
duplicates = df.duplicated(subset=['stmt_app_name', 'stmt_id'], keep=False)

if duplicates.any():
    print("there are duplicated rows")
    print(df[duplicates])
else:
    print("there is no duplicated rows")

there is no duplicated rows

In [6]:
for _, row in df.iterrows():
    filename = f"../query/{row['stmt_id']}.sql"
    
    with open(filename, "w", encoding="utf-8") as f:
        f.write(row["stmt_raw_sql"])
    
    print(f"Saved: {filename}")

Saved: ../query/1.sql
Saved: ../query/2.sql
Saved: ../query/3.sql
Saved: ../query/4.sql
Saved: ../query/5.sql
Saved: ../query/6.sql
Saved: ../query/7.sql
Saved: ../query/8.sql
Saved: ../query/9.sql
Saved: ../query/10.sql
Saved: ../query/11.sql
Saved: ../query/12.sql
Saved: ../query/13.sql
Saved: ../query/14.sql
Saved: ../query/15.sql
Saved: ../query/16.sql
Saved: ../query/17.sql
Saved: ../query/18.sql
Saved: ../query/19.sql
Saved: ../query/20.sql
Saved: ../query/21.sql
Saved: ../query/22.sql
Saved: ../query/23.sql
Saved: ../query/24.sql
Saved: ../query/25.sql
Saved: ../query/26.sql
Saved: ../query/27.sql
Saved: ../query/28.sql
Saved: ../query/29.sql
Saved: ../query/30.sql
Saved: ../query/31.sql
Saved: ../query/32.sql
Saved: ../query/33.sql
Saved: ../query/34.sql
Saved: ../query/35.sql
Saved: ../query/36.sql
Saved: ../query/37.sql
Saved: ../query/38.sql
Saved: ../query/39.sql
Saved: ../query/40.sql
Saved: ../query/41.sql
Saved: ../query/42.sql
Saved: ../query/43.sql
Saved: ../query/44.sql
Saved: ../query/45.sql
Saved: ../query/46.sql
Saved: ../query/47.sql
Saved: ../query/48.sql
Saved: ../query/49.sql
Saved: ../query/50.sql
Saved: ../query/51.sql
Saved: ../query/52.sql
Saved: ../query/53.sql
Saved: ../query/54.sql
Saved: ../query/55.sql
Saved: ../query/56.sql
Saved: ../query/57.sql
Saved: ../query/58.sql
Saved: ../query/59.sql
Saved: ../query/60.sql
Saved: ../query/61.sql
Saved: ../query/62.sql
Saved: ../query/63.sql
Saved: ../query/64.sql
Saved: ../query/65.sql
Saved: ../query/66.sql
Saved: ../query/67.sql
Saved: ../query/68.sql
Saved: ../query/69.sql
Saved: ../query/70.sql
Saved: ../query/71.sql
Saved: ../query/72.sql
Saved: ../query/73.sql
Saved: ../query/74.sql
Saved: ../query/75.sql
Saved: ../query/76.sql
Saved: ../query/77.sql
Saved: ../query/78.sql
Saved: ../query/79.sql
Saved: ../query/80.sql
Saved: ../query/81.sql
Saved: ../query/82.sql
Saved: ../query/83.sql
Saved: ../query/84.sql
Saved: ../query/85.sql
Saved: ../query/86.sql
Saved: ../query/87.sql
Saved: ../query/88.sql
Saved: ../query/89.sql
Saved: ../query/90.sql
Saved: ../query/91.sql
Saved: ../query/92.sql
Saved: ../query/93.sql
Saved: ../query/94.sql
Saved: ../query/95.sql
Saved: ../query/96.sql
Saved: ../query/97.sql
Saved: ../query/98.sql
Saved: ../query/99.sql
Saved: ../query/100.sql
Saved: ../query/101.sql
Saved: ../query/102.sql
Saved: ../query/103.sql
Saved: ../query/104.sql
Saved: ../query/105.sql
Saved: ../query/106.sql
Saved: ../query/107.sql
Saved: ../query/108.sql
Saved: ../query/109.sql
Saved: ../query/110.sql
Saved: ../query/111.sql
Saved: ../query/112.sql
Saved: ../query/113.sql
Saved: ../query/114.sql
Saved: ../query/115.sql
Saved: ../query/116.sql
Saved: ../query/117.sql
Saved: ../query/118.sql
Saved: ../query/119.sql
Saved: ../query/120.sql
Saved: ../query/121.sql
Saved: ../query/122.sql
Saved: ../query/123.sql
Saved: ../query/124.sql
Saved: ../query/125.sql
Saved: ../query/126.sql
Saved: ../query/127.sql
Saved: ../query/128.sql
Saved: ../query/129.sql
Saved: ../query/130.sql
Saved: ../query/131.sql
Saved: ../query/132.sql
Saved: ../query/133.sql
Saved: ../query/134.sql
Saved: ../query/135.sql
Saved: ../query/136.sql
Saved: ../query/137.sql
Saved: ../query/138.sql
Saved: ../query/139.sql
Saved: ../query/140.sql
Saved: ../query/141.sql
Saved: ../query/142.sql
Saved: ../query/143.sql
Saved: ../query/144.sql
Saved: ../query/145.sql
Saved: ../query/146.sql
Saved: ../query/147.sql
Saved: ../query/148.sql
Saved: ../query/149.sql
Saved: ../query/150.sql
Saved: ../query/151.sql
Saved: ../query/152.sql
Saved: ../query/153.sql
Saved: ../query/154.sql
Saved: ../query/155.sql
Saved: ../query/156.sql
Saved: ../query/157.sql
Saved: ../query/158.sql
Saved: ../query/159.sql
Saved: ../query/160.sql
Saved: ../query/161.sql
Saved: ../query/162.sql
Saved: ../query/163.sql
Saved: ../query/164.sql
Saved: ../query/165.sql
Saved: ../query/166.sql
Saved: ../query/167.sql
Saved: ../query/168.sql
Saved: ../query/169.sql
Saved: ../query/170.sql
Saved: ../query/171.sql
Saved: ../query/172.sql
Saved: ../query/173.sql
Saved: ../query/174.sql
Saved: ../query/175.sql
Saved: ../query/176.sql
Saved: ../query/177.sql
Saved: ../query/178.sql
Saved: ../query/179.sql
Saved: ../query/180.sql
Saved: ../query/181.sql
Saved: ../query/182.sql
Saved: ../query/183.sql
Saved: ../query/184.sql
Saved: ../query/185.sql
Saved: ../query/186.sql
Saved: ../query/187.sql
Saved: ../query/188.sql
Saved: ../query/189.sql
Saved: ../query/190.sql
Saved: ../query/191.sql
Saved: ../query/192.sql
Saved: ../query/193.sql
Saved: ../query/194.sql
Saved: ../query/195.sql
Saved: ../query/196.sql
Saved: ../query/197.sql
Saved: ../query/198.sql
Saved: ../query/199.sql
Saved: ../query/200.sql
Saved: ../query/201.sql
Saved: ../query/202.sql
Saved: ../query/203.sql
Saved: ../query/204.sql
Saved: ../query/205.sql
Saved: ../query/206.sql
Saved: ../query/207.sql
Saved: ../query/208.sql
Saved: ../query/209.sql
Saved: ../query/210.sql
Saved: ../query/211.sql
Saved: ../query/212.sql
Saved: ../query/213.sql
Saved: ../query/214.sql
Saved: ../query/215.sql
Saved: ../query/216.sql
Saved: ../query/217.sql
Saved: ../query/218.sql
Saved: ../query/219.sql
Saved: ../query/220.sql
Saved: ../query/221.sql
Saved: ../query/222.sql
Saved: ../query/223.sql
Saved: ../query/224.sql
Saved: ../query/225.sql
Saved: ../query/226.sql
Saved: ../query/227.sql
Saved: ../query/228.sql
Saved: ../query/229.sql
Saved: ../query/230.sql
Saved: ../query/231.sql
Saved: ../query/232.sql
Saved: ../query/233.sql
Saved: ../query/234.sql
Saved: ../query/235.sql
Saved: ../query/236.sql
Saved: ../query/237.sql
Saved: ../query/238.sql
Saved: ../query/239.sql
Saved: ../query/240.sql
Saved: ../query/241.sql
Saved: ../query/242.sql
Saved: ../query/243.sql
Saved: ../query/244.sql
Saved: ../query/245.sql
Saved: ../query/246.sql
Saved: ../query/247.sql
Saved: ../query/248.sql
Saved: ../query/249.sql
Saved: ../query/250.sql
Saved: ../query/251.sql
Saved: ../query/252.sql
Saved: ../query/253.sql
Saved: ../query/254.sql
Saved: ../query/255.sql
Saved: ../query/256.sql
Saved: ../query/257.sql
Saved: ../query/258.sql
Saved: ../query/259.sql
Saved: ../query/260.sql
Saved: ../query/261.sql
Saved: ../query/262.sql
Saved: ../query/263.sql
Saved: ../query/264.sql
Saved: ../query/265.sql
Saved: ../query/266.sql
Saved: ../query/267.sql
Saved: ../query/268.sql
Saved: ../query/269.sql
Saved: ../query/270.sql
Saved: ../query/271.sql
Saved: ../query/272.sql
Saved: ../query/273.sql
Saved: ../query/274.sql
Saved: ../query/275.sql
Saved: ../query/276.sql
Saved: ../query/277.sql
Saved: ../query/278.sql
Saved: ../query/279.sql
Saved: ../query/280.sql
Saved: ../query/281.sql
Saved: ../query/282.sql
Saved: ../query/283.sql
Saved: ../query/284.sql
Saved: ../query/285.sql
Saved: ../query/286.sql
Saved: ../query/287.sql
Saved: ../query/288.sql
Saved: ../query/289.sql
Saved: ../query/290.sql
Saved: ../query/291.sql
Saved: ../query/292.sql
Saved: ../query/293.sql
Saved: ../query/294.sql
Saved: ../query/295.sql
Saved: ../query/296.sql
Saved: ../query/297.sql
Saved: ../query/298.sql
Saved: ../query/299.sql
Saved: ../query/300.sql
Saved: ../query/301.sql
Saved: ../query/302.sql
Saved: ../query/303.sql
Saved: ../query/304.sql
Saved: ../query/305.sql
Saved: ../query/306.sql
Saved: ../query/307.sql
Saved: ../query/308.sql
Saved: ../query/309.sql
Saved: ../query/310.sql
Saved: ../query/311.sql
Saved: ../query/312.sql
Saved: ../query/313.sql
Saved: ../query/314.sql
Saved: ../query/315.sql
Saved: ../query/316.sql
Saved: ../query/317.sql
Saved: ../query/318.sql
Saved: ../query/319.sql
Saved: ../query/320.sql
Saved: ../query/321.sql
Saved: ../query/322.sql
Saved: ../query/323.sql
Saved: ../query/324.sql
Saved: ../query/325.sql
Saved: ../query/326.sql
Saved: ../query/327.sql
Saved: ../query/328.sql
Saved: ../query/329.sql
Saved: ../query/330.sql
Saved: ../query/331.sql
Saved: ../query/332.sql
Saved: ../query/333.sql
Saved: ../query/334.sql
Saved: ../query/335.sql
Saved: ../query/336.sql
Saved: ../query/337.sql
Saved: ../query/338.sql
Saved: ../query/339.sql
Saved: ../query/340.sql
Saved: ../query/341.sql
Saved: ../query/342.sql
Saved: ../query/343.sql
Saved: ../query/344.sql
Saved: ../query/345.sql
Saved: ../query/346.sql
Saved: ../query/347.sql
Saved: ../query/348.sql
Saved: ../query/349.sql
Saved: ../query/350.sql
Saved: ../query/351.sql
Saved: ../query/352.sql
Saved: ../query/353.sql
Saved: ../query/354.sql
Saved: ../query/355.sql
Saved: ../query/356.sql
Saved: ../query/357.sql
Saved: ../query/358.sql
Saved: ../query/359.sql
Saved: ../query/360.sql
Saved: ../query/361.sql
Saved: ../query/362.sql
Saved: ../query/363.sql
Saved: ../query/364.sql
Saved: ../query/365.sql
Saved: ../query/366.sql
Saved: ../query/367.sql
Saved: ../query/368.sql
Saved: ../query/369.sql
Saved: ../query/370.sql
Saved: ../query/371.sql
Saved: ../query/372.sql
Saved: ../query/373.sql
Saved: ../query/374.sql
Saved: ../query/375.sql
Saved: ../query/376.sql
Saved: ../query/377.sql
Saved: ../query/378.sql
Saved: ../query/379.sql
Saved: ../query/380.sql
Saved: ../query/381.sql
Saved: ../query/382.sql
Saved: ../query/383.sql
Saved: ../query/384.sql
Saved: ../query/385.sql
Saved: ../query/386.sql
Saved: ../query/387.sql
Saved: ../query/388.sql
Saved: ../query/389.sql
Saved: ../query/390.sql
Saved: ../query/391.sql
Saved: ../query/392.sql
Saved: ../query/393.sql
Saved: ../query/394.sql
Saved: ../query/395.sql
Saved: ../query/396.sql
Saved: ../query/397.sql
Saved: ../query/398.sql
Saved: ../query/399.sql
Saved: ../query/400.sql
Saved: ../query/401.sql
Saved: ../query/402.sql
Saved: ../query/403.sql
Saved: ../query/404.sql
Saved: ../query/405.sql
Saved: ../query/406.sql
Saved: ../query/407.sql
Saved: ../query/408.sql
Saved: ../query/409.sql
Saved: ../query/410.sql
Saved: ../query/411.sql
Saved: ../query/412.sql
Saved: ../query/413.sql
Saved: ../query/414.sql
Saved: ../query/415.sql
Saved: ../query/416.sql
Saved: ../query/417.sql
Saved: ../query/418.sql
Saved: ../query/419.sql
Saved: ../query/420.sql
Saved: ../query/421.sql
Saved: ../query/422.sql
Saved: ../query/423.sql
Saved: ../query/424.sql
Saved: ../query/425.sql
Saved: ../query/426.sql
Saved: ../query/427.sql
Saved: ../query/428.sql
Saved: ../query/429.sql
Saved: ../query/430.sql
Saved: ../query/431.sql
Saved: ../query/432.sql
Saved: ../query/433.sql
Saved: ../query/434.sql
Saved: ../query/435.sql
Saved: ../query/436.sql
Saved: ../query/437.sql
Saved: ../query/438.sql
Saved: ../query/439.sql
Saved: ../query/440.sql
Saved: ../query/441.sql
Saved: ../query/442.sql
Saved: ../query/443.sql
Saved: ../query/444.sql
Saved: ../query/445.sql
Saved: ../query/446.sql
Saved: ../query/447.sql
Saved: ../query/448.sql
Saved: ../query/449.sql
Saved: ../query/450.sql
Saved: ../query/451.sql
Saved: ../query/452.sql
Saved: ../query/453.sql
Saved: ../query/454.sql
Saved: ../query/455.sql
Saved: ../query/456.sql
Saved: ../query/457.sql
Saved: ../query/458.sql
Saved: ../query/459.sql
Saved: ../query/460.sql
Saved: ../query/461.sql
Saved: ../query/462.sql
Saved: ../query/463.sql
Saved: ../query/464.sql

In [7]:
# check file count
print(f"Total files: {len(os.listdir('../query'))}")

Total files: 464